{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                {% for b in page %}
                <h2>{{ b.name }}</h2>
                <p>Автор: {{ b.author }}</p>
                <p>Дата публикации: {{ b.pub_date|date:"Y-m-d" }}</p>
                {% endfor %}

                {% if page.has_previous %}
                <a href="/books/{{ prev }}"> < {{ prev }}</a>
                {% endif %}
                {% if page.has_next %}
                <a href="/books/{{ next }}"> {{ next }} > </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}